@media (max-width: 991px) {
  
 html { overflow-x: hidden; -moz-overflow-x: hidden; -webkit-overflow-x: hidden; -ms-overflow-x: hidden; -o-overflow-x: hidden;} 

 body{
  
 }
 
 .container{
  
 display: block;
	width: 100%;
 height: auto;
	padding: 5px 10px;
	margin: 25px 0;
 background-color: #FFFFFF;
}

.container-left{
 
 display: block;
 width: 100%;
 height: auto;
 margin: 0;
 padding: 5px 10px;
 background-color: #FFFFFF;
}

div.template-holder{
 
 display:block;
 width: 100%;
 max-height: 500px;
 overflow-y: scroll;
}

 
  header{
    
    display: block;
	   position:relative;
    width: 100%;
    height: auto;
    background-color: #d98b0e;
  }
  
  nav{
    
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    float: none;
    background-color: #d98b0e;
  }
 
ul.menu{
    
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #d98b0e;
  }
   
.header-right{
	
	display: block;
 position: relative;
	width: 100%;
	text-align: right;
	background-color: #d98b0e;
	margin: 15px 0;
 padding: 5px 20px;
}

a.signin{
 
color: #FFFFFF;
margin-left: 0;
}

a.signin:hover{
 
 color: #000000;
}

a.signin:focus{
 
 color: #000000;
}
  
 .mobile-menu{
    
    display: block;
    width: 100%;
    margin: 20px 0 0;
    padding: 11px 0 11px 15px;
    color: #FFFFFF;
    border: none;
    background-color: #d98b0e;
   }
   
   .mobile-menu:hover{
    
    color: #FFFFFF;
   }
   
   .mobile-menu:focus{
    
    color: #FFFFFF;
   }
  
  #dropped{
    
    padding: 5px 0px;
  }

  ul.menu li{
    
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  ul.menu li a{
    
    display: block;
    margin: 0;
    padding: 10px 10px;
    text-align: left;
  }
  
  ul.menu li:hover{
    
     color: #FAFAFA;
     background-color: #2c3e50;
  }

  ul.menu li a:hover, ul.menu li:hover > a{
    
    color: #FAFAFA;
    text-decoration: none;
    background-color: #2c3e50;
  }

  ul.menu ul li a {
    
    font-size: 12px;
    font-weight: normal;
    display: block;
    text-decoration: none;
    border: 0;
  }

  ul.menu ul li a:hover, ul.menu ul li:hover > a{
    
    text-decoration: none;
    border: 0;
  }

  ul.menu li a {
   
    text-decoration: none;
    border: 0;
  }

  ul.menu li a:hover, .menu li:hover > a{
    
    text-decoration: none;
    border: 0;
  }
 
ul.assist-menu{
 
 margin: 10px 0;
}

button#print-tmima{
 
 width: 100%;
 margin: 15px 0;
}

button#promote-tmima{
 
 display: none;
}

a.c{
 
 display: none;
}

h1{
   
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin: 10px 0;
  color: #101010;
}

div.menu-option{
 
display: block;
width: 100%;
height: auto;
margin: 50px 0;
padding: 0;
border-radius: 3px;
box-shadow: none;
}

div#template-edit-holder{

margin: 30px 0; 
box-shadow: none;
}

div#template-single-holder{

margin: 30px 0;
box-shadow: none; 
}

div.logo-container{
 
display: none;
}


footer{
 
 text-align: center;
}

}